{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    New entry
{% endblock %}

{% block body %}    
    <div class = "col-auto">
        <h1>Editing entry</h1>        
    </div>
    <form method = "post" action="">
        {% csrf_token %}
        <div class="form-group">
            <div class = "col-auto">
                <label for="edited_entry_title">Entry title</label>
                <input required class="form-control" type="text" name = "edited_entry_title" id="edited_entry_title" value="{{entry_title}}"
                oninvalid="this.setCustomValidity('Enter entry title')"
                oninput="this.setCustomValidity('')">
            </div>
        </div>
        <div class="form-group">
            <div class = "col-auto">
                <label for="edited_page_content">Markdown content for entry</label>
                <textarea required class="form-control" name = "edited_page_content" id="edited_page_content" rows="10"
                oninvalid="this.setCustomValidity('Enter markdown text')"
                oninput="this.setCustomValidity('')">{{ entry_content|safe }}</textarea>
            </div>
        </div>
        <div class = "col-auto">
            <button type="submit" class = "btn btn-primary">Save entry</button>
        </div>                
    </form>
{% endblock %}